Weather API KEY= 8f172ffb9d51650740f240c00d7cef8a
Movies API Read Access Token = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyOWZkOWRmZjMzMGQ5YTQwYzYzYmRlNDc5ZGQxZDJjZSIsIm5iZiI6MTc0Mzc2OTc1OC40NjEsInN1YiI6IjY3ZWZkMDllNjZkNzAxNDJiNjk5M2VjYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.2sYj7u_HBQcLv4Wpt9QYBDdNg3NPzy-puV_uqNk8BYA